<% content_for(:title) { "Delete User: #{@user.full_name}" } %>

<%= link_to("<< Back to List", users_path, :class => 'back-link') %>

<div class="users delete">
  <h2>Delete User</h2>

  <%= form_for(@user, :method => 'delete') do |f| %>

    <p>Are you sure you want to permanently delete this user?</p>
    <p><%= @user.full_name %></p>

    <div class="form-buttons">
      <%= f.submit("Delete User") %>
    </div>

  <% end %>
</div>
