<% content_for(:title) { "New User" } %>

<%= link_to("<< Back to List", users_path, :class => 'back-link') %>

<div class="users new">
  <h2>Create User</h2>

  <%= form_for(@user) do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= f.submit("Create User") %>
    </div>

  <% end %>
</div>
